ALLOW_ORIGINS='*'
CHAINLINK_DEV="true"
CHAINLINK_TLS_PORT="0"
DATABASE_TIMEOUT="0"
DATABASE_URL=postgresql://user:pwd@dbhost:dbport/dbname
ETH_CHAIN_ID="42"
ETH_URL=wss://kovan.infura.io/ws/v3/__Your_Infura_key____
EXPLORER_ACCESS_KEY=xxx_chainlink_market_key
EXPLORER_SECRET=xxx
EXPLORER_URL=wss://kovan.explorer.chain.link
LINK_CONTRACT_ADDRESS=0xa36085F69e2889c224210F603D836748e7dC0088
LOG_LEVEL=debug
MIN_OUTGOING_CONFIRMATIONS="2"
ROOT=/chainlink
SECURE_COOKIES="false"
